.Mariah{
    background-color: lavenderblush;
}
.Khole{
    background-color: seashell;
}
.Jesue{
    background-color: lightsteelblue;
}
.Kaylie{
    background-color: cornflowerblue;
}
.Jayvian{
    background-color: red;
}
.Kellyson{
    background-color: royalblue;
}
.Eiljah{
    background-color: greenyellow
}
.Karlen{
    background-color: seagreen;
}
.Randy{
    background-color: violet;
}
.Ant{
    background-color: chocolate;
}
.Jahlil{
    background-color: darksalmon;
}